$fontfamily: Arial, Helvetica, sans-serif;//字串
$fontsize : 25px; //註解
$title : (
    key : vaule,
    h1 : 20px,
    h2 : 36px
);// ()=> 是map


$h1 : 46px;
$h2 : 38px;
$h3 : 30px;
$h4 : 24px;
$h5 : 18px;